# dependencies
node_modules/

# env / secrets
.env
.env.*.local

# logs & caches
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# builds / coverage (if you add later)
dist/
build/
coverage/

# OS/editor cruft
.DS_Store
Thumbs.db
.vscode/
.idea/
/figma-create-portfolio